@page "/"
@layout MainLayout

<h1>Dashboard</h1>

<h1 style="color: red;">Important:</h1>
<div>You have to make your pages inherit from MainLayout which will ensure that only those pages reloads when paging occurs</div>

<div>To do this add <span style="color: blue;">layout MainLayout</span> to the top of the page</div>
<div>You should also ensure all your pages have the correct route</div>
