@inject NavigationManager navigationManager

<style>

</style>

<div>
    @foreach (var button in Section)
    {
        <button @onclick="@(() => GoToPage(button.ButtonRoute))">@button.ButtonName</button>
    }
</div>


@code {
    [Parameter]
    public List<NavButtonSection> Section { get; set; }

    string active = "";

    public class NavButtonSection
    {
        public string ButtonName { get; set; }

        public string ButtonRoute { get; set; }
    }

    private void GoToPage(string route)
    {
        navigationManager.NavigateTo(route);
    }
}
